<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Статьи</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <header class="header">
        <img src="img/Logo.png" alt="logo" class="logo">
        <div class="menu">
            <a href="index.html">Домой</a>
            <a href="#">Проект</a>
            <a href="blog.html">Блог</a>
        </div>
    </header>

    <div class="articles-banner-block">
        <div class="articles-banner"></div>
    </div> 
    
    <div>
        <div id="app2" class="articles-content">
            <tag-filter 
                :tags="tags" 
                :selected-tag="selectedTag" 
                @tag-selected="selectTag"
            ></tag-filter>
        
            <article-list 
                v-if="!selectedTag && defaultArticle" 
                :articles="[defaultArticle]"
            ></article-list>
        
            <article-list 
                v-if="selectedTag" 
                :articles="filteredArticles"
            ></article-list>
        </div>
    </div>

    <footer class="footer">
        <div class="media">
            <img src="img/Logo.png" class="logo">
            <div class="social">
                <img src="img/tw.png">
                <img src="img/in.png">
            </div>
        </div>
        <div class="pages">
            <h4 class="pages-title">Страницы</h4>
            <a href="index.html" class="a-pages">Домой</a>
            <a href="#" class="a-pages">Проект</a>
            <a href="blog.html" class="a-pages">Блог</a>
        </div>
        <div class="contacts">
            <h4 class="contacts-title">Контакты</h4>
            <p class="contacts-info">55 East Birchwood Ave. Brooklyn, New York 11201</p>
            <p class="contacts-info">contact@interno.com</p>
            <p class="contacts-info">(123) 456 - 7890</p>
        </div>
    </footer>




    <script src="comp.js"></script>
</body>
</html>